# 开启关闭服务
# Author wubaiqing <wubaiqing@vip.qq.com>

# Nginx
alias nginx.start='launchctl load -w ~/Library/LaunchAgents/homebrew.mxcl.nginx.plist'
alias nginx.stop='launchctl unload -w ~/Library/LaunchAgents/homebrew.mxcl.nginx.plist'
alias nginx.restart='nginx.stop && nginx.start'

# PHP-FPM
alias php-fpm.start="launchctl load -w ~/Library/LaunchAgents/homebrew.mxcl.php55.plist"
alias php-fpm.stop="launchctl unload -w ~/Library/LaunchAgents/homebrew.mxcl.php55.plist"
alias php-fpm.restart='php-fpm.stop && php-fpm.start'

# Mysql
alias mysql.start="launchctl load -w ~/Library/LaunchAgents/homebrew.mxcl.mariadb.plist"
alias mysql.stop="launchctl unload -w ~/Library/LaunchAgents/homebrew.mxcl.mariadb.plist"
alias mysql.restart='mysql.stop && mysql.start'

# Memcache
alias memcache.start='memcached -d -p 11211 -c 1024; memcached -d -p 30001 -c 1024; memcached -d -p 30002 -c 1024; memcached -d -p 40000 -c 1024; memcached -d -p 40100 -c 1024; memcached -d -p 40101 -c 1024; memcached -d -p 40102 -c 1024; memcached -d -p 11211 -c 1024;'
alias memcache.clear='echo "flush_all" | nc 127.0.0.1 11211; echo "flush_all" | nc 127.0.0.1 30001; echo "flush_all" | nc 127.0.0.1 30002; echo "flush_all" | nc 127.0.0.1 40000; echo "flush_all" | nc 127.0.0.1 40100; echo "flush_all" | nc 127.0.0.1 40101; echo "flush_all" | nc 127.0.0.1 40102; echo "flush_all" | nc 127.0.0.1 40102;'
