[alias]
	st = status
	br = branch
	ci = commit
	co = checkout
	p = push
[user]
	name = wubaiqing
	email = wubaiqing@vip.qq.com
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	whitespace = space-before-tab,indent-with-non-tab,trailing-space
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	log = true
[diff]
	tool = vimdiff
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[apply]
		# Detect whitespace errors when applying a patch
	whitespace = fix
[branch "master"]
	remote = origin
	merge = refs/heads/master
[push]
	default = matching
[github]
	token = 6ef8395fecf207165f1a82178ae1b984
[difftool]
	prompt = No
